.body{

}
.padd{
    padding-top:20px;
    padding-bottom:10px;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, #FFFFFF, #c0d4ee);
}
.row {
    text-align: center;
}

/*Header1*/
.header {
    background-color: #2d2d2d;
    color: white;
}

.form-control {
    margin-top: 0px;
    min-width: 5px;
    min-height: 5px;
}
.input-group {
    padding-top:4%;
}

/*Header2*/
.header2 {
    background-color: #2d2d2d;
    color: white;
    padding-bottom: 5px;
}
.cvet {
    color: white;
}
.cvet:hover {
    color: #acd9ff;
}
.profiledrop {
    padding-top:5px;
}
