<div class="col-lg-1 col-md-1 col-sm-1"></div>
<div class="col-lg-10 col-md-10 col-sm-10">
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <section id="fof" class="clear">
      <div class="positioned">
        <!-- ####################################################################################################### -->
        <div class="hgroup">
          <h1>Congratulations</h1>
          <h2>You Found Our 404 Error Page</h2>
        </div>
        <p>Joke Aside<br>
          The Page You Requested Could Not Be Found On Our Server</p>
      </div>
      <!-- ####################################################################################################### -->
    </section>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>
</div>
<div class="col-lg-1 col-md-1 col-sm-1"></div>
