<div class="projects row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <div class="row" style="text-align: left">
      <div class="col-lg-12"><h4>Участвует в проектах</h4></div>
    </div>

    <div class="projecttext col-lg-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">
      <div class="row" style="text-align: left">
        <div class="col-lg-12"><h4>Ежедневник для мед. работников</h4></div>
      </div>
      <div class="row" style="text-align: left">
        <div class="col-lg-12"><h5>Создание сервиса для организации работы медицинских работников</h5></div>
      </div>
    </div>

    <div class="projecttext col-lg-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">
      <div class="row" style="text-align: left">
        <div class="col-lg-12"><h4>Редизайн портала Egida.by</h4></div>
      </div>
      <div class="row" style="text-align: left">
        <div class="col-lg-12"><h5>Переделать главную страницу и добавить новые разделы</h5></div>
      </div>

      <div class="row" style="text-align: left">
        <div class="col-lg-12">

          <div class="review col-lg-6">
            <div class="col-lg-2">
              <img [src]="image" class="img-circle" alt="Photo" width="35" height="35">
            </div>
            <div class="col-lg-10">
              <div class="row">
                <h5>Автор проекта: Александра Стасенко</h5>
              </div>
              <div class="row">
                <h5>Спасибо Такой-то Такойтович, Всё было отлично, довольна вашей работой, буду обращаться ещё.</h5>
              </div>
            </div>
          </div>

          <div class="review col-lg-6">
            <div class="col-lg-2">
              <img [src]="image" class="img-circle" alt="Photo" width="35" height="35">
            </div>
            <div class="col-lg-10">
              <div class="row">
                <h5>Ментор проекта: Дмитрий Сорокин</h5>
              </div>
              <div class="row">
                <h5>Спасибо Такой-то Такойтович, Всё было отлично, довольна вашей работой, буду обращаться ещё.</h5>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-lg-2"></div>
  </div>
</div>