<div class="container" style="height: 1000px">
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: center">
    <!--Head-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 head" style="text-align: left;">
        <h1>Starter</h1>
      </div>
    </div>
    <!--Head END-->


      <div class="omb_login">
        <h3 class="omb_authTitle" >Login or <a (click)="register()" class="cvet">Sign up</a></h3>

        <div class="row omb_socialButtons">
          <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: right">
            <a  class="btn btn-lg omb_btn-facebook" (click)="loginFB()">
              <i class="fa fa-facebook visible-xs"></i>
              <span class="hidden-xs">Facebook</span>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="text-align: left" (click)="loginVK()">
            <a  class="btn btn-lg omb_btn-twitter">
              <i class="fa fa-twitter visible-xs"></i>
              <span class="hidden-xs">Вконтакте</span>
            </a>
          </div>
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2"></div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <form class="omb_loginForm" action="" autocomplete="off" method="POST">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" class="form-control" style="font-size:1em;" name="username"  #username
                       placeholder="Login">
              </div>
              <span class="help-block"></span>

              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input  type="password"  #password class="form-control" style="font-size:1em;" name="password"
                        placeholder="Password">
              </div>
              <span class="help-block" *ngIf="loginError===true">Неверный логин или пароль</span>

              <button class="btn btn-lg btn-primary btn-block" type="submit"
                      (click)="login(username.value, password.value)">
                      Login
              </button>
            </form>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2"></div>
        </div>
      </div>


  </div>




</div>
