

    <!--Information -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-2" style="background-color: #b9d6d6; margin-top: 10px">
        <a (click)="getAllMessages()"><h4>Все сообщения</h4></a>
        <a (click)="getReceivedMessages()"><h4>Входящие</h4></a>
        <a (click)="getSentMessages()"><h4>Отправленные</h4></a>
      </div>
      <button (click)="sendmessage.show()">
        Новое сообщение
      </button>
      <div class="col-lg-8">
        <div class="row padd" style="text-align: center;">
          <div class="col-lg-12" ><h2>Сообщения</h2></div>
        </div>
      </div>
    </div>
    <!--Information END-->

  <!--Message row-->
    <div class="col-lg-12 col-md-12 col-sm-12">
    <span *ngIf="messages.length === 0">У вас нет сообщений</span>
    </div>
  <div class="row padd" *ngFor="let message of messages">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-1 col-md-1 col-sm-1"></div>
      <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:left">

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6" style="border: 1px solid #B0C4DE;">
        <div class="col-lg-1 col-md-1 col-sm-1">
          <img src="{{message.senderPerson.contact.avatarPath}}" class="img-circle" alt="Photo" width="35" height="35">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row"><a href="#"><h4>{{message.senderPerson.contact.fullName}}</h4></a></div>
          <div class="row" style="text-align:left"><h4>Тема: {{message.title}}</h4></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          {{message.date | date : 'dd/MM/yyyy' }}
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 padd">

        <button type="button" class="btn btn-primary pull-right" aria-label="Close"
                (click)="setShowMessage(message);message.show()" *ngIf="message.requestType==='Message' || message.requestType==='Consultation'">
          Читать
        </button>
          <button type="button" class="btn btn-primary pull-right" aria-label="Close"
                  (click)="setShowMessage(message);message.show()" *ngIf="message.requestType==='Accessment' || message.requestType==='Vacancy'">
            Ответить
          </button>

        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1" style="text-align:left">
        <span class="btn btn-sm glyphicon glyphicon-remove pull-left" popover="Удалить сообщение" placement="bottom" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #b73f3f"></span>
      </div>

    </div>
  </div>
  <!--Message row END-->



  <div class="col-lg-12 col-md-12 col-sm-12 padd" style="text-align: center">
    <!--<button type="button" class="btn btn-primary">Назад</button>-->
  </div>


<!--Message-->
<div bsModal #message="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:10%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
          <div class="col-lg-1 col-md-1 col-sm-1">
            <img src="{{showMessage.senderPerson.contact.avatarPath}}" class="img-circle" alt="Photo" width="35" height="35">
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row"><a routerLink="/profile/{{showMessage.senderPerson.id}}"><h4>{{showMessage.senderPerson.contact.fullName}}</h4></a></div>
            <div class="row" style="text-align:left"><h4>Тема: {{showMessage.title}}</h4></div>
            <div class="row" style="text-align:justify"><p>{{showMessage.text}}</p></div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            {{showMessage.date | date:'dd/MM/yyyy'}}
          </div>
      </div>
      <div class="modal-body">
        <div *ngIf="message.requestType==='Accessment' || message.requestType==='Vacancy'">
        <button type="button" class="btn btn-primary pull-left" aria-label="Close" (click)="message.hide()">
          Подтвердить
        </button>
        <button type="button" class="btn btn-primary pull-left" aria-label="Close" (click)="message.hide()">
          Отклонить
        </button>
        </div>
        <button type="button"  *ngIf="message.requestType==='Message' || message.requestType==='Consultation'"
                class="btn btn-primary pull-right" aria-label="Close" (click)="message.hide()">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
</div>
  <!--Message END-->


    <!--Отправка сообщения-->

    <div bsModal #sendmessage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:0px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center">
            <h3 class="modal-title">Отправить сообщение</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10">
                <h4>Получатель: <a herf="#">Наталья Лукшина</a></h4>
              </div>
            </div>

            <div class="row padd">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                  <h4>Тема сообщения:</h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 input-group">
                  <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
                  <input type="text" class="form-control" style="margin-top: 0px" [(ngModel)]="newMessage.title"
                         placeholder="Тема сообщения" aria-describedby="basic-addon1" id="messagetitle">
                </div>
              </div>
            </div>

            <div class="row padd">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                  <h4>Текст сообщения:</h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 input-group">
                  <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
                  <textarea class="form-control" [(ngModel)]="newMessage.text"
                            style="margin-top: 0px" placeholder="Текст сообщения" rows="5" id="comment"></textarea>
                </div>
              </div>
            </div>

          </div>
          <button type="button" class="btn btn-primary pull-left" aria-label="Close" (click)="sendmessage.hide()">
            Отправить
          </button>
          <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="sendmessage.hide()">
            Закрыть
          </button>
        </div>
      </div>
    </div>

    <!--Отправка сообщения END-->


