

    <!--Information -->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-2" style="background-color: #b9d6d6; margin-top: 10px">
        <a (click)="getAllMessages()"><h4>Все сообщения</h4></a>
        <a (click)="getReceivedMessages()"><h4>Входящие</h4></a>
        <a (click)="getSentMessages()"><h4>Отправленные</h4></a>
      </div>
      <div class="col-lg-8">
        <div class="row padd" style="text-align: center;">
          <div class="col-lg-12" ><h2>Сообщения</h2></div>
        </div>
      </div>
    </div>
    <!--Information END-->

  <!--Message row-->
    <div class="col-lg-12 col-md-12 col-sm-12">
    <span *ngIf="messages.length === 0">У вас нет сообщений</span>
    </div>
  <div class="row padd" *ngFor="let message of messages">
    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="message.id !== -1">
      <div class="col-lg-1 col-md-1 col-sm-1"></div>
      <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:left">

      </div>
      <div class="col-lg-6 col-md-6 col-sm-6" style="border: 1px solid #B0C4DE;">
        <div class="col-lg-1 col-md-1 col-sm-1">


          <img src="{{message.senderPerson.contact.avatarPath}}" class="img-circle" alt="Photo" width="35" height="35">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row"><a routerLink="/profile/{{message.senderPerson.id}}"><h4>{{message.senderPerson.contact.fullName}}</h4></a></div>
          <div class="row" style="text-align:left"><h4>Тема: {{message.title}}</h4></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          {{message.date | date : 'dd/MM/yyyy' }}<p></p>
          <span *ngIf="!message.read" style="color: #a94442">Не прочитано</span>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 padd">

        <button type="button" class="btn btn-primary pull-right" aria-label="Close"
                (click)="setShowMessage(message); messageAbout.show()" *ngIf="message.requestType==='Message' || message.requestType==='Consultation'">
          Читать
        </button>
          <button type="button" class="btn btn-primary pull-right" aria-label="Close"
                  (click)="setShowMessage(message); messageAbout.show()" *ngIf="message.requestType==='Assessment' || message.requestType==='Vacancy'">
            Ответить
          </button>

        </div>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1" style="text-align:left">
        <span class="btn btn-sm glyphicon glyphicon-remove pull-left" (click)="acceptDelete.show();setDeletedMessage(message)"
              popover="Удалить сообщение" placement="bottom" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #b73f3f"></span>
      </div>

    </div>
  </div>
  <!--Message row END-->



  <div class="col-lg-12 col-md-12 col-sm-12 padd" style="text-align: center">
    <!--<button type="button" class="btn btn-primary">Назад</button>-->
  </div>


<!--Message-->
<div bsModal #messageAbout="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:10%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
          <div class="col-lg-1 col-md-1 col-sm-1">

              <img src="{{showMessage.senderPerson.contact.avatarPath}}"
                   class="img-circle" alt="Photo" width="35" height="35">
           <a> <span routerLink="/profile/{{showMessage.senderPerson.id}}">От</span></a>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1" >

              <img src="{{showMessage.receiverPerson.contact.avatarPath}}"
                   class="img-circle" alt="Photo" width="35" height="35">
            <a> <span routerLink="/profile/{{showMessage.receiverPerson.id}}">К</span></a>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row"><h4>Сообщение</h4></div>
            <!--<div class="row"><a routerLink="/profile/{{showMessage.receiverPerson.id}}"><h4>{{showMessage.receiverPerson.contact.fullName}}</h4></a></div>-->
            <div class="row" style="text-align:left"><h4>Тема: {{showMessage.title}}</h4></div>
            <div class="row" style="text-align:justify"><p>{{showMessage.text}}</p></div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            {{showMessage.date | date:'dd/MM/yyyy'}}
          </div>
      </div>
      <div class="modal-body">
        <div *ngIf="showMessage.requestType==='Assessment'">

          <button type="button" class="btn btn-primary pull-left" aria-label="Close"
                  (click)="setAssessment(showMessage.senderPerson.id);messageAbout.hide()">
            Подтвердить
          </button>
          <button type="button" class="btn btn-primary pull-left" aria-label="Close"
                  (click)="messageAbout.hide()">
            Отклонить
          </button>
        </div>
        <div *ngIf="showMessage.requestType==='Vacancy'">
        <button type="button" class="btn btn-primary pull-left" aria-label="Close"
                (click)="setUserOnVacancy(showMessage.receiverPerson.id);messageAbout.hide()">
          Подтвердить
        </button>
        <button type="button" class="btn btn-primary pull-left" aria-label="Close"
                (click)="messageAbout.hide()">
          Отклонить
        </button>
        </div>
        <button type="button"  *ngIf="(showMessage.requestType==='Message' || showMessage.requestType==='Consultation') && showMessage.senderPerson.id !== uid"
                class="btn btn-primary pull-left" aria-label="Close" (click)="writeMessage();sendmessage.show();messageAbout.hide()">
          Ответить
        </button>
        <button type="button"  *ngIf="showMessage.requestType==='Message' || showMessage.requestType==='Consultation'"
                class="btn btn-primary pull-right" aria-label="Close" (click)="messageAbout.hide()">
          Закрыть
        </button>
      </div>
    </div>
  </div>
</div>
</div>
  <!--Message END-->

    <!--Отправка сообщения-->

    <div bsModal #sendmessage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:0px">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="text-align: center">
            <h3 class="modal-title">Отправить сообщение</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10">
                <h4>Получатель: <a >{{showMessage.senderPerson.contact.fullName}}</a></h4>
              </div>
            </div>

            <div class="row padd">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                  <h4>Тема сообщения:<span style="color:red">*</span></h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 input-group">
                  <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
                  <input type="text" class="form-control" style="margin-top: 0px" [(ngModel)]="newMessage.title" required minlength="3"
                         placeholder="Тема сообщения" #title="ngModel" aria-describedby="basic-addon1" id="messagetitle">
                </div>
                <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
                  Некорректная тема
                </div>
              </div>
            </div>

            <div class="row padd">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                  <h4>Текст сообщения:<span style="color:red">*</span></h4>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 input-group">
                  <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
                  <textarea class="form-control" [(ngModel)]="newMessage.text" #text="ngModel" required
                            style="margin-top: 0px" placeholder="Текст сообщения" rows="5" id="comment"></textarea>
                </div>
                <div [hidden]="text.valid || text.untouched" class="alert alert-danger">
                  Введите сообщение
                </div>
              </div>
            </div>

          </div>
          <button type="button" [disabled]="text.invalid || title.invalid"
                  class="btn btn-primary pull-left" aria-label="Close" (click)="sendmessage.hide(); sendMessage()">
            Отправить
          </button>
          <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="sendmessage.hide()">
            Закрыть
          </button>
        </div>
      </div>
    </div>

    <!--Отправка сообщения END-->
    <!--Подтверждение change-->

    <div bsModal #acceptDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:10%">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Вы действительно хотите удалить сообщение?</h4>
          </div><div class="modal-body">
            <button type="button" class="btn btn-primary pull-left" aria-label="Close" (click)="acceptDelete.hide()">
              Нет
            </button>
            <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="acceptDelete.hide();deleteMessage() ">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--change END-->




