
<div class="container">
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <!--Head-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 head" style="text-align: left;">
        <h1>Starter</h1>
      </div>
    </div>
    <!--Head END-->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 workreg" style="text-align: center;">
        <p>Опыт работы</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
      <div class="row padd">

        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>Наименование компании</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>Сфера деятельности</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>Должность</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>Обязанности</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
          <p>Начало работы</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>Окончание работы</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
        </div>
      </div>
    </div>

    <div *ngFor="let workplace of workplaces">
    <div *ngIf="workplace" class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
      <div class="row padd">

        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>{{workplace.company}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>{{workplace.sphereOfActivity}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>{{workplace.position}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p>{{workplace.duties}}</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
          <p *ngIf="workplace.startWork!==0">{{workplace.startWork}}</p>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
          <p *ngIf="!workplace.working&&workplace.endWork!==0">{{workplace.endWork}}</p>
          <p *ngIf="workplace.working">Работаю сейчас</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: center;">
          <button type="button" class="btn close btn-sm" style="background-color: red" (click)="workplaceDelete(workplace.id)">&times;</button>
        </div>

      </div>
    </div>
    </div>
    <!--Модальное окно-->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row padd">

        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
          <button type="button" class="btn btn-primary" (click)="openModal1(template)">Добавить место работы</button>

          <ng-template #template style="z-index: 1">
              <div class="col-lg-2 col-md-2 col-sm-2"></div>
              <div class="col-lg-8 col-md-8 col-sm-8" style=" background: white;">

                <!--Наименование компании-->
                <div class="row padd">
                  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                    <p>Наименование компании<span style="color:red">*</span></p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <p><input list="company" name="company" class="form-control"
                              [(ngModel)]="workplace.company" #company="ngModel" required minlength="4"
                              placeholder="Organization" aria-describedby="sizing-addon2" >
                      <datalist id="company"  >
                        <option  *ngFor="let workplaceSearch of workplacesSearch"   value="{{workplaceSearch.company}}"></option>
                      </datalist></p>
                  </div>
                  <div [hidden]="company.valid || company.untouched" class="alert alert-danger">
                    Введено некорректное название организации
                  </div>
                </div>
                <!--Наименование компании END-->

                <!--Сфера деятельности-->
                <div class="row padd">
                  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                    <p>Сфера деятельности<span style="color:red">*</span></p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" class="form-control" name="sphereOfActivity"
                           [(ngModel)]="workplace.sphereOfActivity" #sphereOfActivity="ngModel" required minlength="4"
                           placeholder="Sphere of activity" aria-describedby="sizing-addon2" id="sphereofactivity">
                  </div>
                  <div [hidden]="sphereOfActivity.valid || sphereOfActivity.untouched" class="alert alert-danger">
                    Введена некорректная сфера дейстельности
                  </div>
                </div>
                <!--Сфера деятельности END-->

                <!--Должность-->
                <div class="row padd">
                  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                    <p>Должность<span style="color:red">*</span></p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input type="text" class="form-control" name="position"
                           [(ngModel)]="workplace.position" #position="ngModel" required minlength="4"
                           placeholder="Position" aria-describedby="sizing-addon2" id="position">
                  </div>
                  <div [hidden]="position.valid || position.untouched" class="alert alert-danger">
                    Введена некорректная должность
                  </div>
                </div>
                <!--Должность END-->

                <!--Обязанности-->
                <div class="row padd">
                  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                    <p>Обязанности</p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 input-group aboutform">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                    <textarea class="form-control" name="duties" style="resize:none"
                              [(ngModel)]="workplace.duties" #duties="ngModel"
                              id="duties" placeholder="Duties" rows="4"></textarea>
                  </div>
                </div>
                <!--Обязанности END-->

                <!--Срок работы-->
                <div class="row padd">
                  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left">
                    <p>Время работы</p>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <h6>С:</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <h6>По:</h6>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <input type="date" name="position"
                             [(ngModel)]="workplace.startWork" #startWork="ngModel" >
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <input [disabled]="workplace.working===true" type="date" name="position"
                             [(ngModel)]="workplace.endWork" #endWork="ngModel" >
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <input type="checkbox"
                             [(ngModel)]="workplace.working" #working="ngModel"
                             name="working" > Продолжаю работать<br>
                    </div>
                  </div>
                </div>
                <!--Срок работы END-->

                <button type="button" [disabled]="company.invalid || position.invalid || sphereOfActivity.invalid"
                        class="btn btn-primary pull-right" aria-label="Close" (click)="workplaceAdd()">
                  Сохранить
                </button>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2"></div>
          </ng-template>

        </div>

      </div>
    </div>
    <!--Модальное окно END-->


    <!--Submit-->
    <div class="row padd">
      <div class="col-lg-12 col-md-12 col-sm-12 submit" style="text-align: right">
        <button type="button" class="btn btn-primary" (click)="nextStep()">
          Далее
        </button>
      </div>
    </div>
    <!--Submit END-->
    </div>
  </div>
