
  <div class="row">


  <!--Information -->
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="row padd" style="text-align: center;">
        <div class="col-lg-12" ><h2>Описание проекта</h2></div>
      </div>

      <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">
      <div class="col-lg-6 col-md-6 col-sm-6" >
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Pixangel App</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><a href="#"><h6>Владелец</h6></a></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><p>Возможность производить съёмку с мгновенной отправкой фотографий на наш сервер и дальнейшим просмотром галереи</p></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6" >
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Отрасль</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h5>Телеком</h5></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Срок реализации</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h5>10.07.2017-04.09.2017</h5></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Статус проекта</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h5>Идёт разработка</h5></div>
        </div>
      </div>

    </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: left">
      <span class="btn glyphicon glyphicon-edit" popover="Редактировать описание проекта" placement="left" containerClass="container" triggers="mouseenter:mouseleave" (click)="openModal1(template1)" style="background-color: #6aafb7"></span>
    </div>
  </div>
      <!--Information END-->

      <!--Communication-->
    <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-2 col-md-2 col-sm-2"></div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="row padd" style="text-align: center;">
        <div class="col-lg-12" ><h2>Коммуникация на проекте</h2></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">
          <div class="col-lg-4 col-md-4 col-sm-4" >
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h4>Язык общения</h4></div>
            </div>
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h6>Русский</h6></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4" >

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4" >
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h4>Способ коммуникации на проекте</h4></div>
            </div>
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h6>My_skype123</h6></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-2" style="text-align: left">
      <span class="btn glyphicon glyphicon-edit" popover="Редактировать способ коммуникации на проекте" placement="left" containerClass="container" triggers="mouseenter:mouseleave" (click)="openModal2(template2)" style="background-color: #6aafb7"></span>
    </div>
    </div>
      <!--Communication END-->

      <!--Vacantion-->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="row padd" style="text-align: center;">
        <div class="col-lg-12" ><h2>Вакансии</h2></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">

          <div class="col-lg-4 col-md-4 col-sm-4" style="border: 1px solid #B0C4DE;" >
            <div class="col-lg-9 col-md-9 col-sm-9" (click)="openModal1(template1)">

            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h4>Front-end developer</h4> </div>
            </div>

            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12"><h6>Стажёр, 2 чел.</h6></div>
            </div>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="btn btn-sm glyphicon glyphicon-edit" popover="Редактировать вакансию" containerClass="container" triggers="mouseenter:mouseleave" (click)="openModal3(template3)" style="background-color: #6aafb7"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="btn btn-sm glyphicon glyphicon-remove" popover="Удалить вакансию" placement="bottom" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #b73f3f"></span>
            </div>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-4" style="border: 1px solid #B0C4DE;">
            <div class="col-lg-9 col-md-9 col-sm-9" (click)="openModal1(template1)">

              <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Java developer</h4></div>
            </div>
          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12"><h6>Ментор, 1 чел.</h6></div>
          </div>

          </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="btn btn-sm glyphicon glyphicon-edit" popover="Редактировать вакансию" containerClass="container" triggers="mouseenter:mouseleave" (click)="openModal3(template3)" style="background-color: #6aafb7"></span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <span class="btn btn-sm glyphicon glyphicon-remove" popover="Удалить вакансию" placement="bottom" containerClass="container" (click)="accept.show()" triggers="mouseenter:mouseleave" style="background-color: #b73f3f"></span>
            </div>

        </div>

          <div class="col-lg-4 col-md-4 col-sm-4" style="border: 1px solid #B0C4DE;">
            <div class="row" style="text-align: Center; padding-top:20px; padding-bottom: 20px">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <span class="btn btn-sm glyphicon glyphicon-plus" popover="Добавить вакансию" containerClass="container" triggers="mouseenter:mouseleave" (click)="openModal4(template3)" style="background-color: #22e42c"></span>
              </div>
            </div>
          </div>

        </div>
      </div>

      </div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
      <!--Vacantion END-->

      <!--Team-->
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="row padd" style="text-align: center;">
        <div class="col-lg-12" ><h2>Команда</h2></div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">

          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;"><h4>Стажёры</h4></div>
            </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
            <div class="row" >
              <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: left"><h6>Наталья Лукшина</h6></div>
              <div class="col-lg-2 col-md-2 col-sm-2">
              <span class="btn glyphicon glyphicon-envelope" popover="Отправить сообщение" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #6aafb7"></span>
              </div>
              </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left"><h6>Front-end developer</h6></div>
            </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
              <div class="row" >
                <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: left"><h6>Иванов Иван</h6></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <span class="btn glyphicon glyphicon-envelope" popover="Отправить сообщение" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #6aafb7"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left"><h6>Java developer</h6></div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6" >
            <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row" style="text-align: Center">
              <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;"><h4>Менторы</h4></div>
            </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
              <div class="row" >
                <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: left"><h6>Наталья Лукшина</h6></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <span class="btn glyphicon glyphicon-envelope" popover="Отправить сообщение" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #6aafb7"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left"><h6>Front-end developer</h6></div>
              </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE;">
              <div class="row" >
                <div class="col-lg-10 col-md-10 col-sm-10" style="text-align: left"><h6>Иванов Иван</h6></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                  <span class="btn glyphicon glyphicon-envelope" popover="Отправить сообщение" containerClass="container" triggers="mouseenter:mouseleave" style="background-color: #6aafb7"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: left"><h6>Java developer</h6></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      </div>
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
      <!--Team END-->

    <div class="col-lg-12 col-md-12 col-sm-12 padd">
      <button type="button" class="btn btn-primary">Назад</button>
    </div>
    <div class="col-lg-2"></div>
  </div>


<!--Редактирование общей информации-->
<ng-template #template1>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8" style=" background: white">

    <div class="row padd" style="text-align: center;">
      <div class="col-lg-12" ><h3>Описание проекта</h3></div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">
          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4>Название проекта</h4>
            </div>
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 input-group fullnameform" style="text-align: left">
                <span class="input-group-addon" ><i class="glyphicon glyphicon-tag"></i></span>
                <input type="text" class="form-control" style="margin-top:0px" placeholder="Project name" aria-describedby="basic-addon1" id="projectName">
              </div>
            </div>
          </div>
          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4>Описание проекта</h4>
            </div>
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 input-group aboutform">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <textarea class="form-control" id="about" style="margin-top:0px" placeholder="Введите описание проекта" rows="4"></textarea>
              </div>
            </div>
          </div>

          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <h4>Отрасль</h4>
            </div>
            <div class="row">
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 input-group fullnameform" style="text-align: left">
                <span class="input-group-addon" ><i class="glyphicon glyphicon-circle-arrow-right"></i></span>
                <input type="text" class="form-control" style="margin-top:0px" placeholder="Отрасль" aria-describedby="basic-addon1" id="otrasl">
              </div>
            </div>
          </div>


      </div>
    </div>

    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef1.hide()">
      Сохранить
    </button>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</ng-template>
<!--Редактирование общей информации END-->

<!--Редактирование коммуникации-->
<ng-template #template2>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8" style=" background: white">

    <div class="row padd" style="text-align: center;">
      <div class="col-lg-12" ><h3>Коммуникация на проекте</h3></div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">

          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Язык общения</h4></div>
          </div>
          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12 descrform" style="text-align: center;">
              <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-default ">
                  {{item}} <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" >
                  <li role="menuitem" style="cursor: pointer" (click)="item='Русский'"><nav>Русский</nav></li>
                  <li role="menuitem" style="cursor: pointer" (click)="item='Английский'">Английский</li>
                  <li role="menuitem" style="cursor: pointer" (click)="item='Белорусский'">Белорусский</li>
                  <li role="menuitem" style="cursor: pointer" (click)="item='Немецкий'">Немецкий</li>
                </ul>
              </div>
            </div>
          </div>



          <div class="row" style="text-align: Center">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Способ коммуникации на проекте</h4></div>
          </div>
          <div class="row" style="text-align: Center">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 input-group fullnameform" style="text-align: left">
              <span class="input-group-addon" ><i class="glyphicon glyphicon-earphone"></i></span>
              <input type="text" class="form-control" placeholder="Способ коммуникации" aria-describedby="basic-addon1" id="communication">
            </div>
          </div>


      </div>
    </div>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef2.hide()">
      Сохранить
    </button>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</ng-template>
<!--Редактирование коммуникации END-->

<!--Редактирование вакансии-->
<ng-template #template3>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8" style=" background: white">

    <div class="row padd" style="text-align: center;">
      <div class="col-lg-12" ><h3>Вакансия</h3></div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid #B0C4DE; background-color: #beecf9">


        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Название вакансии</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 input-group fullnameform" style="text-align: left">
            <span class="input-group-addon" ><i class="glyphicon glyphicon-pencil"></i></span>
            <input type="text" class="form-control" style="margin-top: 0px" placeholder="Название вакансии" aria-describedby="basic-addon1" id="vacantionname">
          </div>
        </div>

        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Роль</h4></div>
        </div>
        <div class="row" style="text-align: Center">
          <div class="col-lg-1 col-md-1 col-sm-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 input-group fullnameform" style="text-align: center">
            <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-default ">
                {{role}} <span class="caret"></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu" >
                <li role="menuitem" style="cursor: pointer" (click)="role='Стажёр'">Стажёр</li>
                <li role="menuitem" style="cursor: pointer" (click)="role='Ментор'">Ментор</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Требуемые навыки</h4></div>
        </div>
        <!--Навыки-->
        <div class="row padd">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <input list="skills">
            <datalist id="skills">
              <option value="Adobe Illustrator">
              <option value="Java 8">
              <option value="JavaScript">
              <option value="PHP">
              <option value="Bootstrap">
            </datalist>
          </div>
          <div class="col-lg-12" style="border: 1px solid #B0C4DE;">
            <span class="label label-default"></span>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Illustrator &times;</button>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Java EE &times;</button>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Adobe Illustrator &times;</button>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Adobe Photoshop &times;</button>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Photoshop &times;</button>
          </div>
        </div>
        <!--Навыки END-->


        <div class="row" style="text-align: Center">
          <div class="col-lg-12 col-md-12 col-sm-12"><h4>Требуемые языки</h4></div>
        </div>
        <!--Языки-->
        <div class="row padd">
          <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
            <input list="languages">
            <datalist id="languages">
              <option value="Английский">
              <option value="Русский">
              <option value="Белорусский">
              <option value="Немецкий">
              <option value="Польский">
            </datalist>
          </div>
          <div class="col-lg-12" style="border: 1px solid #B0C4DE;">
            <span class="label label-default"></span>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Английский &times;</button>
            <button type="button" class="btn skill btn-sm" style="background-color: #B0C4DE">Русский &times;</button>
          </div>
        </div>
        <!--Языки END-->



      </div>
    </div>
    <button type="button" class="btn btn-primary pull-right" aria-label="Close" (click)="modalRef3.hide()">
      Сохранить
    </button>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>
</ng-template>
<!--Редактирование вакансии END-->


<!--Подтверждение вакансии-->

<div bsModal #accept="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="padding-top:10%">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Вы действительно хотите удалить вакансию?</h4>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary pull-left" aria-label="Close" (click)="accept.hide()">
          Нет
        </button>
        <button type="button" class="btn btn-warning pull-right" aria-label="Close" (click)="accept.hide()">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<!--Подтврждение END-->

