

  <div class="col-lg-1 col-md-1 col-sm-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10"> <!--Container for search-->

    <div class="row" style="border: 1px solid #c9e5ff; background-color: #f5f7f9; border-radius:5px"> <!--Строка для параметров-->

      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
        <h2> Параметры поиска <span class="btn btn-lg glyphicon glyphicon-option-vertical"
                                    data-toggle="collapse" data-target="#param"></span></h2>
      </div>
      </div>

      <div class="row collapse" id="param">
        <div class="col-lg-1 col-md-1 col-sm-1" ></div>
        <div class="col-lg-5 col-md-5 col-sm-5" style="margin-right:10px"> <!--Сами параметры-->

          <!--Направления-->
          <div class="row padd" style="text-align: left; margin-bottom:10px; background-color: #dbedff; border-radius:5px" *ngIf="searchProfile.role !== 'Customer' || anyRole">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Направление</h4>

              <div class="multiple-select col-lg-6 col-md-6 col-sm-6 col-xs-6"
                   style="overflow-y:auto; height:200px; width: 300px">
                <div  *ngFor="let direction of directions">

                  <div class="options col-lg-12 col-md-12 col-xs-12 col-sm-12"
                       style="cursor:pointer;padding:5px; font-size: 15px"
                       id="{{direction}}" (click)="toggleMultiSelect($event, direction);search()" id={{direction}}>
                    <span *ngIf="bufferDirections.indexOf(direction)!==-1" style="color:#2fff17"><i class="glyphicon glyphicon-ok"></i></span>
                    {{direction}}</div>

                </div>
              </div>

            </div>
          </div>
          <!--Направления END-->

          <!--Number of projects-->
          <div class="row padd" style="text-align: left; margin-bottom:10px; background-color: #dbedff; border-radius:5px" *ngIf="searchProfile.role !== 'Customer' || anyRole">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Навыки</h4>
            </div>

            <div class="multiple-select col-lg-6 col-md-6 col-sm-6 col-xs-6"
                 style="overflow-y:auto; height:200px;">
              <div  *ngFor="let skill of skills">

                <div class="options col-lg-12 col-md-12 col-xs-12 col-sm-12"
                     style="cursor:pointer;padding:3px; font-size: 15px"
                     id="{{skill}}" (click)="toggleMultiSelectSkill($event, skill); search()" id={{skill}}>
                  <span *ngIf="bufferSkills.indexOf(skill)!==-1" style="color:#2fff17"><i class="glyphicon glyphicon-ok"></i></span>
                  {{skill}}</div>

              </div>
            </div>

          </div>
          <!--Number of projects END-->
          <!--Verification-->
          <!--<div class="row padd" style="text-align: Left">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Верификация</h4>
              <div class="checkbox">
                <label><input type="checkbox" value="">Пользователь подтверждён</label> <br>
                <label><input type="checkbox" value="">Пользователь не подтверждён</label>
              </div>
            </div>
          </div>-->
          <!--Verification END-->



        </div> <!--Сами параметры END-->

        <div class="col-lg-5 col-md-5 col-sm-5"> <!--Сами параметры2-->

          <!--Role-->
          <div class="row padd" style="text-align: left; margin-bottom:10px; background-color: #dbedff; border-radius:5px">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Роль</h4>

              <div class="dropdown form-group">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        [disabled]="anyRole" data-toggle="dropdown">
                  {{searchProfile.role}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="menuitem" style="cursor: pointer" *ngFor="let role of roles"
                      (click)="searchProfile.role=role;search()"><a>{{role}}</a></li>
                </ul>
              </div>
              <input type="checkbox" (click)="search()" [(ngModel)]="anyRole"> Любая роль
            </div>
          </div>
          <!--Role END-->


          <!--Number of reviews-->
          <div class="row padd" style="text-align: left; margin-bottom:10px; background-color: #dbedff; border-radius:5px">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Локация</h4>
            </div>

            <p><input list="countries" name="country" class="form-control"
                      [(ngModel)]="searchProfile.country" #country="ngModel"
                      placeholder="Country" aria-describedby="sizing-addon2" id="country" (change)="setCities()">
              <datalist id="countries"  >
                <option  *ngFor="let country of this.countries"   value="{{country}}"></option>
              </datalist></p>

            <p><input list="cities" name="city" class="form-control" (change)="search()"
                     [(ngModel)]="searchProfile.city" #city="ngModel" required
                     placeholder="City" aria-describedby="sizing-addon2">
            <datalist id="cities"  >
              <option  *ngFor="let city of this.cities"   value="{{city}}"></option>
            </datalist></p>

          </div>
          <!--Number of reviews END-->

          <!--Number of reviews-->
          <div class="row padd" style="text-align: left; margin-bottom:10px; background-color: #dbedff; border-radius:5px" *ngIf="searchProfile.role !== 'Customer' || anyRole">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Учебное заведение</h4>
            </div>

            <p><input list="name" name="name" class="form-control" (change)="search()"
                      [(ngModel)]="searchProfile.educationName" #name="ngModel"
                      placeholder="Name" aria-describedby="sizing-addon2" >
              <datalist id="name"  >
                <option  *ngFor="let education of educations"    value="{{education.name}}"></option>
              </datalist></p>
          </div>

          <!--Age-->
          <div class="row" style="text-align: left; background-color: #dbedff; padding-bottom:5px; margin-bottom:10px; border-radius:5px">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Возраст</h4>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <h5> От:</h5>
              <input type="number" min="0" step="1" (click)="search()"
                     [(ngModel)]="searchProfile.ageFrom" #ageFrom="ngModel" style="width:60px"/>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3">
              <h5> До:</h5>
              <input type="number" min="0" step="1" (click)="search()"
                     [(ngModel)]="searchProfile.ageTo" #ageTo="ngModel" style="width:60px"/>
            </div>
          </div>
          <!--Age END-->


          <div class="row" style="text-align: left; background-color: #dbedff; border-radius:5px"
               *ngIf="searchProfile.role === 'Mentor' || anyRole">
            <div class="col-lg-12 col-md-12 col-sm-12"><h4>Опыт менторства</h4>
              <input type="checkbox" [(ngModel)]="searchProfile.isMentorExp"
                      #mentorExp="ngModel">
            </div>
          </div>

        </div> <!--Сами параметры2 END-->


        <div class="col-lg-1 col-md-1 col-sm-1"></div>
      </div>

    </div> <!--Строка для параметров END-->

    <div class="row" style="padding-bottom: 30px"> <!--Строка поиска-->
      <div class="col-lg-1 col-md-1 col-sm-1" ></div>
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="searchProfile.fullName"
                 placeholder="Найти..." (keypress)="search()">
          <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()">Найти!</button>
      </span>
        </div>
    </div>
      <div class="col-lg-1 col-md-1 col-sm-1" ></div>
    </div>
    <!--Строка поиска END-->
  </div > <!--Container for search END-->

  <!--Container for results-->
  <div style="height: 1000px">
  <div class="col-lg-12 col-md-12 col-sm-12"
       *ngFor="let searchResultProfile of searchResultProfiles">
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="row" style="border: 1px solid #B0C4DE; margin-bottom:10px; background-color: #dbedff; border-radius:5px">
      <!--Picture-->
      <div class="col-lg-2 col-md-2 col-sm-2" routerLink="/profile/{{searchResultProfile.id}}">
        <div class="row" style="text-align: center">
          <div class="col" >
            <img src="{{searchResultProfile.contact.avatarPath}}" class="img-circle" alt="Photo" width="50" height="50">
          </div>
        </div>
      </div>
      <!--Picture END-->
      <!--Information-->
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row" style="text-align: left">
          <div class="col" >
            <h4><a routerLink="/profile/{{searchResultProfile.id}}">
              {{searchResultProfile.contact.fullName}}</a>
              <span class="glyphicon glyphicon-ok" popover="Этот пользователь верифицирован ментором"
                    *ngIf="searchResultProfile.approved"
                    triggers="mouseenter:mouseleave">
          </span></h4>
          </div>
        </div>
        <div class="row" style="text-align: left">
          <div class="col" >
            <h5>Роль: {{searchResultProfile.role}}</h5>
          </div>
        </div>

        <div class="row" style="text-align: left">
          <div class="col" >
            <h5>Направление: {{searchResultProfile.direction}}</h5>
          </div>
        </div>

      </div>

     <!-- <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row" style="text-align: left">
          <div class="col" >
            <h5>Количество проектов: 3</h5>
          </div>
        </div>

        <div class="row" style="text-align: left">
          <div class="col" >
            <h5>Количество отзывов: 7</h5>
          </div>
        </div>

        <div class="row" style="text-align: left">
          <div class="col" >
            <h5>Возраст: 24 года</h5>
          </div>
        </div>

      </div>-->
      <!--Information END-->
    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2"></div>
  </div>
  </div><!--Container for results END-->



  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center; margin-top:20px; margin-bottom: 20px">
 <!--   <button type="button" class="btn btn-primary">
    Назад
  </button>
    <button type="button" class="btn btn-primary">
      Далее
    </button>-->
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1"></div>

