<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<div class="container" *ngIf="isDataAvalible">
  <div *ngIf="showHead">
  <div class="row" >
    <div class="header">
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div style="text-align: left" class="col-lg-4 col-md-4 col-sm-4"><a routerLink='/profile'><h1>Starter</h1></a></div>
        <div class="col-lg-4"></div>
        <div style="text-align: right" class="col-lg-4 col-md-4 col-sm-4">
          <div class="input-group">
            <p><input list="character" type="search" #searchValue
                      class="form-control" placeholder="Search"
                      (keypress)="search(searchValue.value)"  >
              <datalist id="character" >
                <select multiple size = 10 >
                <option  *ngFor="let profile of this.profiles" #selectedValue   value="{{profile.contact.fullName}}"></option>
                </select>
              </datalist></p>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Найти</button>
      </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
        </div>
      </div>
    </div>
  </div>

  <div class="header2 row" >
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="btn-group-md" role="group" aria-label="...">
        <button type="button" class="btn btn-primary">Сообщения</button>
        <button type="button" class="btn btn-primary" routerLink="/projects">Проекты</button>
        <button type="button" class="btn btn-primary" routerLink="/search/vacancy">Вакансии</button>
        <button type="button" class="btn btn-primary" routerLink="/search/profile">Пользователи</button>
      </div>
    </div>
    <div class="profiledrop col-lg-4 col-md-4 col-sm-4">
      <img src="{{myProfile.contact.avatarPath}}" class="img-circle" alt="Photo" width="35" height="35">
      <span dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
  <a class="cvet" href dropdownToggle routerLink="/profile" >{{myProfile.contact.fullName}}</a>
        <button class="btn glyphicon glyphicon"  style="color:#a94442" routerLink="/logout"> Выйти </button>
    <ul *dropdownMenu class="dropdown-menu">
      <li *ngFor="let choice of items">
        <a class="dropdown-item" href="#">{{choice}}</a>
      </li>
    </ul>
</span>
    </div>
  </div>
  </div>
<router-outlet></router-outlet>


</div> <!--Close container-->
</html>
