.body{

}

.padd{
  padding-bottom: 20px;
}
.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}
.header2{
  background: linear-gradient(to bottom, #f6f8fa, #FFFFFF);
}
.row {
  text-align: center;
}

/*Header1*/
.header {
  background-color: #2d2d2d;
  color: white;
}
.form-control {
  margin-top: 4px;
  min-width: 5px;
  min-height: 5px;
}
.input-group {
  padding-top:4%;
}

/*Header2*/
.header2 {
  background-color: #2d2d2d;
  color: white;
  padding-bottom: 5px;
}
.cvet {
  color: #1d18ff;
  font-size:1.2rem;
}
.cvet:hover {
  color: #acd9ff;
}
.profiledrop {
  padding-top:5px;
}

/*Profile*/
.profile {
  padding-top: 10px;
}
.buttonblok {
  padding-top: 10px;
}

.buttonfirst {
  margin-left: 0px;
}

.about {
  padding-top: 10px;
}

.contacts {
  padding-top: 40px;
  padding-bottom: 20px;
}
.contactstext {
  padding-top: 20px;
}
